/** 
===============================================
    IMAGE BACKGROUNDS
===============================================
*/

.black-nectar-mockup {
    background: url(assets/images/BlackNectar-Mockup-1.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.galactic-1 {
    background: url(assets/images/Galactic-Dark.jpg) no-repeat center center fixed;
    background-size: cover;
}

.galactic-2 {
    background: url(assets/images/Galactic-2.png) no-repeat center center fixed;
    background-size: cover;
}

.galactic-3 {
    background: url(assets/images/Galactic-3.jpg) no-repeat center center fixed;
    background-size: cover;
}

#transparency-layer {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#purple-overlay {
    background-color: #1D1D1D;
    opacity: 0.75;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0px;
    z-index: -2;
}

@media (max-width: 500px) {
    .galactic-background {
    }
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Uni Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    background-color: black;
    letter-spacing: 1.5px;
    color: white;
/*    MAKE ROOM FOR NAVI BAR*/
    margin-top: 100px;
    z-index: 0;
}

.light {
    background-color: #eee;
    color: black;
}

.light h1 {
    color: #444
}

header {
    padding-top: 5px;
    height: 80px;
}

header h1 {
    text-align: center;
    font-size: 42px;
}

/** 
===============================================
    BLACK SOURCE BRAND 
===============================================
*/

#brand {
    font-family: 'Uni Sans'; 
    font-weight: 100; 
    font-style: thin;
    letter-spacing: 2.5px;
    overflow: hidden;
}

#brand h1 {
    font-size: 124px;
    opacity: 0.80;
    font-weight: 100;
    overflow: hidden;
}

@media (max-width: 1000px) {
    #brand h1 {
        font-size: 90px;
    }
}

@media (max-width: 700px) {
    #brand h1 {
        font-size: 70px;
    }
}

@media (max-width: 500px) {
    #brand h1 {
        font-size: 50px;
        width: 100%;
    }
    
/*
    #brand {
        position: absolute;
        bottom: 10px;
    }
*/
}

.center {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 10px;
    right: 10px;
    resize: vertical;
    overflow: auto;
    transform: translateY(-50%);
}


/** 
===============================================
    NAVIGATION LINKS
===============================================
*/
nav {
    font-family: "Uni Sans";
    font-weight: 300;
    font-size: 14px;
    background-color: rgba(00, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    padding: 10px 0;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: solid rgba(255, 255, 255, 0.4) 1px;
}

nav.dark {
    background: url(assets/images/Galactic-Dark.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 2;
}

nav a {
    text-decoration: none;
    opacity: 0.7;
}

nav a:hover {
    opacity: 1.0;
}

nav a.active {
    opacity: 1.0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
}

nav li {
    float: left;
}

nav li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    margin-left: 60px;
}

@media (max-width: 800px) {
    nav li > a {
        margin-left: 10px;
    }
}

@media (max-width: 600px) {
    nav {
        text-align: center;
        background-color: rgba(0, 0, 00, 0.1);
        position: absolute;
    }
    nav ul {
        text-align: center;
    }
    nav ul li {
        text-align: center;
        float: none;
    }
    nav a {
        margin: 10px 0 0 0;
        text-align: center;
    }
    
    body {
        margin-top: 300px;
    }
}


/** 
===============================================
    ARTICLE TEXT
===============================================
*/

.document-container {
    text-align: center;
}

article {
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    color: #ddd;
    text-align: left;
    background-color: rgba(0,0,0, 0.5);
/*    box-shadow: 2px 2px 10px #888888;*/
    max-width: 800px;
    min-width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
/*    border: solid rgba(255, 255, 255 ,0.5) 1px;*/
    border: solid gray 1px;
    padding: 20px 40px;
/*    display: inline-block;*/
}

article h1, article h2, article h3 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

article p {
    font-size: 16px;
}

article ul {
    padding: 0;
    padding-bottom: 20px;
}

article li {
    list-style: none;
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
}

article a { 
    text-decoration: none;
    border-left: 1px solid white;
    margin-left: 5px;
    color: white;
    display: inline;
    padding: 5px 10px;
    opacity: 1.0;
}

#values li {
    font-size: 14px;
    border-left: solid gray 1px;
    margin-left: 10px;
    padding-left: 10px;
}

article a:hover {
    opacity: 0.7;
}

.intro {
    color: white;
    font-size: 30px;
    line-height: 1.5em;
    margin: 30px 0;
    letter-spacing: 1px;
    background-color: black;
    padding: 40px 30px;
    border: solid white 1px;
    background: url(assets/images/Galactic-Dark.jpg) no-repeat;
    background-position: left;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
@media (max-width:600px) {
    .youtube {
        width: 374px;
        height: 210px;
    }
}
*/


/** 
===============================================
    BLACKNECTAR SIGN UP PAGE
===============================================
*/

div.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blacknectar-logo-container {
    float: left;
    width: 40%;
/*    height: 100%;*/
    top: 0;
    margin: 0;
    left: 0px;
    text-align: center;
    border-right: solid rgba(255,255,255,0.6) 1px;
}

#blacknectar-logo-container p {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}

#blacknectar-logo-container img {
    width: 100%;
    left: 0;
    right: 0;
    max-width: 400px;
/*    transform: translateY(-50%);*/
    margin: 0 auto;
}

#blacknectar-sign-up-container {
    position: relative;
    float: right;
    width: 59%;
/*    height: 100%;*/
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
/*    background-color: rgba(0,0,0,0.6);*/
}

#blacknectar-sign-up-container p span {
    font-weight: 200;
    color: #ECC040;
}

#blacknectar-sign-up-container p {
    font-size: 26px;
    font-weight: 100;
    padding: 10px 35px;
    align-content: center;
    vertical-align: middle;
    max-width: 600px;
}

@media (max-width:600px) {

    html, body {
        overflow: scroll;
    }
    
    div.container {
        display: block;
    }
    
    #blacknectar-logo-container {
        float: none;
        text-align: center;
        width: 100%;
    }
    
    #blacknectar-logo-container img {
        width: 70%;
        max-width: 400px;
        margin: 0px auto;
    }
    
    #blacknectar-sign-up-container {
        float: none;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        text-align: center;
    }
}


/** 
===============================================
    MAILCHIMP SIGN UP
===============================================
*/


#mc_embed_signup {
    margin: 0 15px;
    border-top: solid rgba(255,255,255,0.5) 1px;
/*    border-radius: 5px;*/
    background-color: transparent;
    max-width: 600px;
}

#mc_embed_signup:hover {
    border-color: white;
}

#mc_embed_signup form label {
    font-family: 'Uni Sans';
    font-size: 34px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 2px;
    color: #ECC040;
}


#mc_embed_signup form {
    background-color: transparent;
    padding: 30px 20px;
}

#mc_embed_signup input {
    margin-top: 20px;
}

#mc_embed_signup input.button {
    background-color: #ECC040;
    font-family: 'Uni Sans';
    font-size: 18px;
    font-weight: 600;
    color: black;
    border-radius: 4px;
}

#mc_embed_signup input.email {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
}

@media (max-width:600px) {
    
    #mc_embed_signup {
        text-align: center;
    }
    
    #mc_embed_signup form {
        text-align: center;
    }
    
    #mc_embed_signup input.email, #mc_embed_signup input.button {
        display: inline-block;
        text-align: center;
        margin-top: 20px;
    }
}