body {
        margin: 0;
        padding: 0;
        font-family: "Uni Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        background-color: black;
        background-image: url("assets/images/Galactic-Dark.png");
        background-repeat: no-repeat;
        background-position: top;
        color: white;
    }

#brand {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    resize: vertical;
    overflow: auto;
    
}

#brand h1 {
    font-size: 70px;
    opacity: 0.90;
}
